<html>
  <head></head>
  <body>
    <nav class="navbar navbar-expand-md" class="navbar navbar-light bg-light">
        <div class="navbar-header" >
            <a class="navbar-brand" routerLink="/Home">Tours&Travels</a>
          </div>
        <!-- <ul class="navbar-nav">
          <li class= "navbar-item"> -->
            <!-- <div class="container"> -->
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Indian Destination
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Featured Destinations</a>
                  <a class="dropdown-item" href="#"> State-wise</a>
                </div>
              </div>
              <!-- </div> -->
          <!-- </li></ul> -->
          
          <!-- <ul class="navbar-nav">
            <li class="navbar-item"> -->
              <!-- <div class="container"> -->
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    International Destination
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Featured Destinations</a>
                    <a class="dropdown-item" href="#">Country-wise</a>
                  </div>
                </div>
                <!-- </div> -->
            <!-- </li>
          </ul> -->
          
            <!-- <div class="container"> -->
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Packages
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Indian Specials</a>
                <a class="dropdown-item" href="#">International Specials</a>
              </div>
            </div>
            <!-- </div> -->
          <!-- <ul class="navbar-nav">
            <li class= "navbar-item">
              <a class="nav-link" routerLink="/ShortBreaks">Packages</a>
            </li></ul> -->
          <!-- <ul class="navbar-nav">
            <li class="navbar-item"> -->
              <a class="nav-link" routerLink="/GoTo">Bookings</a>
            <!-- </li>
          </ul> -->
          <ul class="navbar-nav">
            <li class= "navbar-item">
              <a class="nav-link" routerLink="/Signin">Sign in</a>
            </li></ul>
            <ul class="navbar-nav">
              <li class= "navbar-item">
                <a class="nav-link" routerLink="Signup">Sign up</a>
              </li></ul>
    </nav>
    <div width=10% height=10%>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img1.jpg" alt="First slide" width=200px height=300px>
          <div class="carousel-caption d-none d-md-block">
            <h5>Visit Italy</h5>
            <p> place to Visit</p>  
          </div>    
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img2.jpg" alt="Second slide"  width=200px height=300px>
          <div class="carousel-caption d-none d-md-block">
            <h5>Visit Italy</h5>
            <p> place to Visit</p>  
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img3.jpg" alt="Third slide"  width=200px height=300px>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Visit Italy</h5>
          <p> place to Visit</p>  
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    <h5 class ="heading">Indian Favroites</h5>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
      nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. 
        Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. 
        Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. 
        Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor 
        porta.</span></p>

<button onclick="myFunction()" id="myBtn">Read more</button> -->

    <div class="gallery" class="format">
      <a target="_blank" href="">
        <img src="assets/goa.jpeg" alt= "Goa" width="600" height= "400">
        <div class="desc"> 
          Goa <br>
          Starting from 4999Rs</div>
      </a>
    </div>
    <!-- <div class="gallery" class="format1">
      <a target="_blank" href="">
        <img src="assets/goa.jpeg" alt= "Goa" width="600" height= "400">
        <div class="desc"> 
          Goa <br>
          Starting from 4999Rs</div>
      </a>
    </div> -->
  
  </body>

  <footer style="background-color: #ffffff;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h3 class="text-uppercase">Tours&Travels</h3>
          <p>Over 70 years of expertise with innovation at its core. 
            We pioneered group travel in India and are continously 
          envolving and investing in leading edge technology for a 
          perfect holiday. Our Holidays are co-created with our cutomers, 
          ensuring suggestions and feedback are the basics of creating magical
           holidays. Join the Tours&Travels family and choose from a wide range 
          and experience. Special holidays catering to the cultural diversity
          of India. 
        </p>

        <h5>Contact us</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.953102940684!2d73.02713121485182!3d19.10971318706855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2sLTI%20(L%26T%20Infotech)!5e0!3m2!1sen!2sin!4v1601221525354!5m2!1sen!2sin" 
        width="200" height="200" frameborder="0" style="border:0;" 
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Indian Destinations</a>
            </li>
            <li>
              <a href="#!">International Destination</a>
            </li>
            <li>
              <a href="#!">Packages</a>
            </li>
            <li>
              <a href="#!">Bookings</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://tours&travels.com/"> Tours&Travels.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
           
</html>